#about {
  width: 100%;
  padding: 10rem $p;
  background-color: $color1;
  color: $color5;
  display: flex;
  flex-direction: column;
  align-items: center;

  > section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      max-width: 900px;
      text-align: center;
      background: $color4;
      padding: 4rem;
      border-radius: 20px;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.05);

      > h2 {
        font: 900 4rem $text1;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 8px;
        position: relative;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
          width: 50%;
          height: 5px;
          background-color: $color3;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 5px;
        }
      }

      > p {
        font: 400 1.25rem $text2;
        line-height: 1.9;
        color: $color6_1;
      }
    }
  }
}
